@using MatBlazor
@inherits MainLayoutBase

<MatDrawerContainer Style="width: 100vw; height: 100vh;">
    <MatDrawer @bind-Opened="@_isOpenDrawer" Mode="@MatDrawerMode.Modal">
        <MatList>
            <MatListItem OnClick="@NavigateProfile">
                <MatIconButton Icon="@MatIconNames.Person"></MatIconButton>
                @if (_userState.Value.IsAuthenticated)
                {
                    <span> @_userState.Value.User.Name  </span>;
                }
                else
                {
                    <span> Login </span>
                }
            </MatListItem>
            <MatListDivider></MatListDivider>
            <MatListItem OnClick="@ToggleDrawer" Href="/"> <MatIconButton Icon="@MatIconNames.Pages"></MatIconButton> Journal </MatListItem>
        </MatList>
    </MatDrawer>
    <MatDrawerContent>
        <MatAppBarContainer>
            <MatAppBar Fixed="true">
                <MatAppBarRow>
                    <MatAppBarSection>
                        <MatIconButton OnClick="@ToggleDrawer" Icon="menu"></MatIconButton>
                        <MatAppBarTitle>Gumby</MatAppBarTitle>
                    </MatAppBarSection>
                    <MatAppBarSection Align="@MatAppBarSectionAlign.End">
                        <MatIconButton Icon="@MatIconNames.Search"></MatIconButton>
                    </MatAppBarSection>
                </MatAppBarRow>
            </MatAppBar>
            <MatAppBarContent>
                @Body
            </MatAppBarContent>
        </MatAppBarContainer>
    </MatDrawerContent>
</MatDrawerContainer>
