@page "/"
@page "/index.html"

@using MatBlazor
@inherits JournalBase


<style>
    .app-fab--fixed {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
</style>

@if (_journalState.Value.Posts.Count == 0)
{
    <MatCard>
        <h3> Welcome to Gumby Climb!</h3>
        <p> Click the blue + button below to add your first send.</p>
    </MatCard>
}
else
{
    @foreach (var post in _journalState.Value.Posts)
    {
        <MatCard>
            <GumbyUserDetail></GumbyUserDetail> - <GumbyDateTime Value="@post.OccurredAt"></GumbyDateTime>
            <GumbyTextBox Value="@post.Text"></GumbyTextBox>
            @if (post.Details != null)
            {
                foreach (var detail in post.Details)
                {
                    <GumbyDetail Value="@detail"></GumbyDetail>
                }
            }
        </MatCard>
    }

}

<MatFAB class="app-fab--fixed" OnClick="@NavigateToAddPost" Icon="@MatIconNames.Add"></MatFAB>