@layout MainLayout
@page "/"
@page "/index.html"

@using Blazor.Fluxor
@using Gumby.App.Shared
@using Gumby.App.Climb.Journal.Store
@using Gumby.Climb.Journal.Contract
@using Gumby.Climb.Journal.Domain
@using Gumby.Climb.Route.Contract
@inject IState<JournalState> JournalState
@inject IDispatcher Dispatcher
@inject IUriHelper UriHelper

<style>
    .app-fab--fixed {
        position: fixed;
        bottom: 1rem;
        right: 1rem;
    }
</style>

@if (JournalState.Value.Journals.Count == 0)
{
    <MatCard>
        <h3> Welcome to Gumby Climb!</h3>
        <p> Click the blue + button below to add your first climb journal entry.</p>
    </MatCard>
}
else
{
    @foreach (var journal in JournalState.Value.Journals)
    {
        <MatCard>
                <GumbyUserDetail></GumbyUserDetail> - <GumbyDateTime></GumbyDateTime> <MatIcon Icon="@MatIconNames.Arrow_downward"></MatIcon>
                <GumbyTextBox></GumbyTextBox>
                <GumbyImageDetail></GumbyImageDetail>
                <GumbyProtectionDetail></GumbyProtectionDetail>
                <GumbyRouteDetail></GumbyRouteDetail>
        </MatCard>
    }

}

<MatFAB class="app-fab--fixed" OnClick="@OpenAddJournalModal" Icon="@MatIconNames.Add"></MatFAB>

<MatDialog IsOpen="@_isOpenAddJournalModal">
    <MatDialogContent>
        <GumbyTextBox></GumbyTextBox>
        <GumbyClimbSnackbar></GumbyClimbSnackbar>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@CancelAddJournalClicked">Cancel</MatButton>
        <MatButton OnClick="@OkAddJournalClicked">OK</MatButton>
    </MatDialogActions>
</MatDialog>

@functions{

    private bool _isOpenAddJournalModal = false;

    protected override void OnInit()
    {
        JournalState.Subscribe(this);
    }

    private void OpenAddJournalModal()
    {
        _isOpenAddJournalModal = true;
    }

    private void OkAddJournalClicked()
    {
        Dispatcher.Dispatch(new AddJournalAction());
        _isOpenAddJournalModal = false;
    }

    private void CancelAddJournalClicked()
    {
        _isOpenAddJournalModal = false;
    }
}